body {
  background: #0b0b0b;
  color: #00ff99;
  font-family: monospace;
  padding: 10px;
}

input, button {
  background: #111;
  color: #00ff99;
  border: 1px solid #00ff99;
  padding: 6px;
  margin: 4px 0;
}

button {
  cursor: pointer;
}

pre {
  background: black;
  padding: 10px;
  height: 200px;
  overflow-y: auto;
}

li {
  list-style: none;
  cursor: pointer;
  padding: 4px;
}

li:hover {
  background: #00ff99;
  color: black;
}
